@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-zoomIn: zoomIn 0.4s ease-out forwards;
}

.flex-center {
  @apply flex items-center justify-center;
}

.active {
  @apply text-slate-800 dark:text-slate-900 bg-blue-100 border-blue-100 hover:bg-blue-400 hover:border-blue-400 hover:text-white active:scale-95 sm:active:scale-90 cursor-pointer dark:bg-slate-500 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
}

.inactive {
  @apply bg-gray-200 text-gray-500 border-gray-200 opacity-80;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
